<div class="row mt-4" *ngIf="!isUrlSaved">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="md-form">
            <input mdbInput type="text" id="form1" class="form-control" [(ngModel)]="serverUrl">
            <label for="form1" class="">Logger URL</label>
            <button mdbBtn type="button" color="elegant" mdbWavesEffect class="full-width m-0" size="sm"
                (click)="getServerStatus()">Next</button>
        </div>

    </div>
    <div class="col-md-4"></div>
</div>

<div class="row mt-4" *ngIf="isUrlSaved">
    <div class="col-lg-12">
        <p class="text-center" (click)="isUrlSaved = false">Logger URL: {{serverUrl}}</p>
    </div>
</div>

<div class="row mt-4" *ngIf="isUrlSaved && !loggingId">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <button mdbBtn type="button" color="elegant" mdbWavesEffect class="full-width m-0" size="sm"
            (click)="startLog()">Start logging</button>
    </div>
    <div class="col-md-4"></div>
</div>

<div class="row mt-4" *ngIf="loggingId">
    <div class="col-lg-12">
        <app-log-detail [baseUrl]="baseUrl" [logId]="loggingId"></app-log-detail>
    </div>
</div>